#container{
width: 980px;
margin: 0 auto;
}

#content {
width: 720px; float: right;
}
#sidebar {
width: 220px; float: left;
}

#content ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#content nav li a:hover {
background-color: #555;
color: white;
}

#content nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#content nav li {
display: inline;
}

#sidebar nav li a {
text-decoration: none;
}

#content nav li a {
text-decoration: none;
}

#sidebar nav ul{
    list-style-type: circle;
    line-height: 20px;
    padding:5;
}

#sidebar nav li:hover{
    background-color: #dddddd;
    border-radius: 10px;
}

#pageFooter{
    border-top: solid 1px #CCCCCC; text-align: center;
    clear: both;
}